h1
{
    font-size:5vw;/*Viewport is the browser window size.
     1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.*/
}
#navbar
{
    width: 100%;
}
.scrollSide
{
    height: 100vw;
}
.dropdownContainer
{
 position: relative;
}
/*jj
/*nav
{
 
}