{% extends "BasicBusinessManager/WebHtmls/EN/Base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'BasicBusinessManager/Scripts/settings.js' %}"></script>

<div id="settings" class="m-5 settings-view">
    <h1 class="h5 text-center m-2">Settings for {{request.user.username}}</h1>
    <form action ="{% url 'BasicBusinessManager:settings-confirm' %}" method="PUT">
        <div class="input-group mb-3">
            <div class="input-group-prepend settings-input">
                <span class="input-group-text settings-input">First name</span>
            </div>
            <input type="text" class="form-control settings-input" value ="{{request.user.first_name}}" placeholder="First Name" name="firstname" id="firstname">
            <div class="input-group-prepend settings-input">
                    <span class="input-group-text settings-input">Last name</span>
            </div>
            <input type="text" class="form-control settings-input" value ="{{request.user.last_name}}" placeholder="Last Name" name="lastname" id="lastname">
        </div>
        <label for="address-group settings-input">Address:</label>
        <div class="form-group settings-input" id="address-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend settings-input">
                    <span class="input-group-text settings-input">Address</span>
                </div>
                <input type="text" class="form-control settings-input" name="street" placeholder="address" value = "" id="street">
                <!--for further use-->
                <!--
                <div class="input-group-prepend">
                    <span class="input-group-text">Home number</span>
                </div>
                <input type="text" class="form-control" name="home-number" id="home-number">
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Post code</span>
                    </div>
                    <input type="text" class="form-control" name="post-code" id="post-code">
                    <div class="input-group-prepend">
                            <span class="input-group-text">City</span>
                    </div>
                    <input type="text" class="form-control" name="city" id="city">
                    <div class="input-group-prepend">
                            <span class="input-group-text">Country</span>
                    </div>
                    <input type="text" class="form-control" name="country" id="country">-->
            </div>
        </div>
{% if request.user.type_name is Client %}
        <div class="input-group mb-3">
            <script>window.onload=buildUserEnhancedObjectFromJSON("{{request.user.client.type_name}}",{{request.user.client.id}});</script>
            <div class="input-group-prepend settings-input">
                <span class="input-group-text settings-input">Birthday</span>
            </div>
            <input type="date" class="form-control settings-input" value="{{request.user.client.birthday|date:'Y-m-d'}}" name="birthday" id="birthday">
        </div>
        <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
{% elif request.user.type_name is CompanyOwner %}
    <script>window.onload=buildUserEnhancedObjectFromJSON("{{request.user.company_owner.type_name}}",{{request.user.company_owner.id}});</script>
    <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<form >
    <div class="form-group">
   
    </div>
</form>
{% elif request.user.type_name is Employee %}
    <script>window.onload=buildUserEnhancedObjectFromJSON("{{request.user.employee.type_name}}",{{request.user.employee.id}});</script>
    <span class="input-group-text" >Salary per month</span>
    </div>
    <input readonly type="number" class="form-control" name="month-salary" id="month-salary">
    <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<form >
    <div class="form-group">
   
    </div>
</form>
{% endif %}

{% endblock %}
