{% extends "BasicBusinessManager/WebHtmls/EN/Base.html" %}
{% block content %}
{% load static %}
    <!--React-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!--JSX-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'styles-order_manager.css' %}">
    <!--JS-->
   <script type="text/babel" src="{% static '/scripts/order_manager_home.js' %}"></script>
   {% if request.user.is_authenticated %}
    <div id="react_1"></div>
   <h1 class="h5 text-center">Hello in RestIT program powered by React and Django.</h1>
   <section id="react_container">
    <div id="order_board" class="d-flex justify-content-around">
            <div class="card m-4">
                <button class="btn btn-outline-dark" onclick="chooseRestItFunction('sender','{{request.user.employee.id}}')">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Sender</p>
                </div>
                </button>
            </div>
            <div class="card m-4">
                <button class="btn btn-outline-dark" onclick="Switcher.chooseRestItFunction('receiver','{{request.user.employee.id}}')">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Reciever</p>
                </div>
                </button>
            </div>
    </div>
   </section>
   {%else%}
   {%endif%}
{% endblock %}